
.jumbotron {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.31)), url(../images/floatingPeak.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  .jumbotron .container {
    height: 300px;
  }
  
  .inline-header {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
  }
  
  .card {
    margin-bottom: 30px;
  }

.title {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
  