.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.31)), url(/images/floatingPeak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #EEE;
  }
  .jumbotron .container {
    height: 600px;
  }
  
  .inline-header {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
  }
  
  #photo-share {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .rendered-image {
    max-width: 100%;
    height: auto;
  }
  
  .photo-post {
    margin-bottom: 30px;
  }
  
  .col-sm-6 {
    padding-bottom: 10px;
  }
  